/* ------- Defaults ------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
strong, b {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  -ms-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
input[type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* ------- Main Styling ------- */

html, body {
  height: 100%;
}
body {
  width: 100%;
/*
  background: #fff;
  color: #202020;
*/
  font-family: "Gill Sans", "Gill Sans MT", "Helvetica Neue", FreeSans, Roboto, Helvetica, Arial,
               sans-serif;
}



li {
  padding: 30px;
}

div[data-scribe="component:author"] {
/*  padding-bottom: 20px;*/
}
a[data-scribe="element:user_link"] {
  text-decoration: none;
}
a[data-scribe="element:user_link"] img {
  display: inline-block;
}
a[data-scribe="element:user_link"] div {
  display: inline-block;
  vertical-align: top;
}
a[data-scribe="element:user_link"] div span {
  display: block;
  padding: 0 0 10px 10px;
  color: #222;
  font-size: 24px;
}
a[data-scribe="element:user_link"] div span[data-scribe="element:screen_name"] {
  color: #AAA;
  font-size: 16px;
}

p.tweet {
  font-size: 25px;
  margin: 20px 0;
}
p.tweet a {
  text-decoration: none;
  color: rgb(238, 28, 36);
}


ul li {
  display: none;
}

#play-pause {
  display: inline-block;
  padding: 10px;
  background: #AAA;
  cursor: pointer;
}
#play-pause:hover {
  background: #999;
}

#thingymabob {
  color: #EE1C24;
  background: rgb(238, 28, 36);
}




body {
  background: -webkit-linear-gradient(45deg, #f7b4b7 0%, #FFF 100%);
  background: linear-gradient(45deg, #f7b4b7 0%, #FFF 100%);
  background-size: 200% 200%;
  height: 100%;
  width: 100%;
  -webkit-animation: background 6s ease infinite;
          animation: background 6s ease infinite;
}

@-webkit-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.bg-circle {
  position: fixed;
  z-index: -1;
  border-radius: 50%;
  background: transparent;
  border: 60px solid rgba(0, 0, 0, 0);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: translate(-50%, -50%);
  top: 0px;
  left: 0px;
}
#c1 {
  animation-duration: 4s;
  animation-name: expand1;
}
#c2 {
  animation-duration: 2.5s;
  animation-name: expand2;
}
#c3 {
  animation-duration: 5s;
  animation-name: expand3;
}

@keyframes expand1 {
  0% {
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-color: rgba(238, 28, 36, 0.3)
  }
  100% {
    width: 1700px;
    height: 1700px;
    border-color: rgba(0, 0, 0, 0);
  }
}
@keyframes expand2 {
  0% {
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0);
  }
  75% {
    border-color: rgba(255, 255, 255, 0.3)
  }
  100% {
    width: 1700px;
    height: 1700px;
    border-color: rgba(0, 0, 0, 0);
  }
}
@keyframes expand3 {
  0% {
    width: 100px;
    height: 100px;
    border-color: rgba(0, 0, 0, 0);
  }
  60% {
    border-color: rgba(255, 255, 255, 0.4)
  }
  100% {
    width: 1900px;
    height: 1900px;
    border-color: rgba(0, 0, 0, 0);
  }
}



/*
span[data-scribe="element:verified_badge"] {
  display: none;
}*/
